---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Gradient from '../components/Gradient';
---

<Layout title="Welcome to Astro.">
	<main>
		<Gradient client:load/>
	</main>
</Layout>
